@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте</h1>
    <a href="http://localhost:58986/pacient">нажмите для перехода к списку пациентов</a>
</div>
